.R6 h1 {
  text-align: center;
}
.R6_1 img {
  margin-top: 40px;
  border-radius: 30px;
  margin-left: 360px;
}
.R6_1 {
  position: relative;
  display: inline-block;
}
.R6_1 img {
  transition: transform 0.3s ease;
}
.R6_1:hover img {
  transform: scale(1.2);
}
.R6_2 {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  margin-left: 375px;
  border-radius: 50px;
  height: 400px;
  margin-top: 40px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.R6_2 p {
  margin: 0;
  padding: 0;
  font-size: 23px;
  text-align: center;
}
.R6_1:hover .R6_2 {
  opacity: 1;
}
.R6_3 h2 {
  background-color: white;
  width: 20px;
}
.btn8 {
  margin-top: 30px;
  margin-left: 660px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 40px;
  border-radius: 500px;
  display: inline-block;
  font-weight: 300;
  transition: all 0.4s ease-in-out;
  background-size: 152% 100%;
  background: rgb(9, 82, 3);
  border: 2px solid rgb(9, 82, 3);
}
.btn8:hover {
  background: transparent;
  border-color: rgb(9, 82, 3);
  color: rgb(9, 82, 3);
}
.btn8:link {
  text-decoration: none;
}
.R6_4 {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card6 {
  height: 410px;
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  transition: background-color 0.3s ease;
}
.card6 h3 {
  color: black;
  font-size: 24px;
  margin-top: 0;
}
.card6 p {
  color: black;
  font-size: 16px;
  line-height: 1.5;
}
.card6 ul {
  margin: 10px 0;
  padding-left: 20px;
}
.card6 li {
  margin-bottom: 5px;
}
.card6:last-child {
  margin-bottom: 0;
}
.card6:hover{
  background-color: rgb(9, 82, 3);
  color: white;
}
.card6:hover h3{
  color: white;
}
.card6:hover p{
  color: white;
}
.para6{
  font-size: x-large;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
}