.read-more-container3 {
    
    display: flex;
    gap: 3rem;
    text-align: justify;
    padding-top: 40px;
  }
  .read-more-container3 img{
    margin-left: 50px;
    border-radius: 30px;
  }
  .urban1{
    padding-right: 60px;
  }
  .read-more-title3{
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .read-more-content3 {
    font-size: 18px;
    line-height: 1.5;
    color: #555;
  }
  .btn16{
    margin-top: 30px;
    color:rgb(255, 255, 255);
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:2px;
    padding:16px 40px;
    border-radius: 500px;
    display:inline-block;
    font-weight:300;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background:rgb(9, 82, 3);
    border:2px solid rgb(9, 82, 3);
}
.btn16:hover{
    background:transparent;
    border-color: rgb(9, 82, 3);
    color:rgb(9, 82, 3);
}
.btn16:link{
    text-decoration: none;
}
.btn17{
    margin-top: 30px;
    color:rgb(255, 255, 255);
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:2px;
    padding:16px 40px;
    border-radius: 500px;
    display:inline-block;
    font-weight:300;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background:rgb(9, 82, 3);
    border:2px solid rgb(9, 82, 3);
}
.btn17:hover{
    background:transparent;
    border-color: rgb(9, 82, 3);
    color:rgb(9, 82, 3);
}
.btn17:link{
    text-decoration: none;
}
.btn17{
    margin-left: 30px;
}
.urbantypes {
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
  }
  
  .urbantypes p {
    margin-bottom: 10px;
  }
  
  .urbantypes strong {
    font-weight: bold;
  }
  
  .urbantypes ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .urbantypes li {
    margin-bottom: 5px;
  }
  .urbanadv {
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
  }
  
  .urbanadv p {
    margin-bottom: 10px;
  }
  
  .urbanadv strong {
    font-weight: bold;
  }
  
  .urbanadv ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .urbanadv li {
    margin-bottom: 5px;
  }