.read-more-container1 {
    
    display: flex;
    gap: 3rem;
    text-align: justify;
    padding-top: 40px;
  }
  .read-more-container1 img{
    margin-left: 50px;
    border-radius: 30px;
  }
  .organ1{
    padding-right: 60px;
  }
  .read-more-title1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .read-more-content1 {
    font-size: 18px;
    line-height: 1.5;
    color: #555;
  }
  .btn12{
    margin-top: 30px;
    color:rgb(255, 255, 255);
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:2px;
    padding:16px 40px;
    border-radius: 500px;
    display:inline-block;
    font-weight:300;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background:rgb(9, 82, 3);
    border:2px solid rgb(9, 82, 3);
}
.btn12:hover{
    background:transparent;
    border-color: rgb(9, 82, 3);
    color:rgb(9, 82, 3);
}
.btn12:link{
    text-decoration: none;
}
.btn13{
    margin-top: 30px;
    color:rgb(255, 255, 255);
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:2px;
    padding:16px 40px;
    border-radius: 500px;
    display:inline-block;
    font-weight:300;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background:rgb(9, 82, 3);
    border:2px solid rgb(9, 82, 3);
}
.btn13:hover{
    background:transparent;
    border-color: rgb(9, 82, 3);
    color:rgb(9, 82, 3);
}
.btn13:link{
    text-decoration: none;
}
.btn13{
    margin-left: 30px;
}
.organtypes {
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
  }
  
  .organtypes p {
    margin-bottom: 10px;
  }
  
  .organtypes strong {
    font-weight: bold;
  }
  
  .organtypes ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .organtypes li {
    margin-bottom: 5px;
  }
  .organadv {
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
  }
  
  .organadv p {
    margin-bottom: 10px;
  }
  
  .organadv strong {
    font-weight: bold;
  }
  
  .organadv ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .organadv li {
    margin-bottom: 5px;
  }