.read-more-container4 {
    
    display: flex;
    gap: 3rem;
    text-align: justify;
    padding-top: 40px;
  }
  .read-more-container4 img{
    margin-left: 50px;
    border-radius: 30px;
  }
  .pre1{
    padding-right: 60px;
  }
  .read-more-title4{
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .read-more-content4 {
    font-size: 18px;
    line-height: 1.5;
    color: #555;
  }
  .btn18{
    margin-top: 30px;
    color:rgb(255, 255, 255);
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:2px;
    padding:16px 40px;
    border-radius: 500px;
    display:inline-block;
    font-weight:300;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background:rgb(9, 82, 3);
    border:2px solid rgb(9, 82, 3);
}
.btn18:hover{
    background:transparent;
    border-color: rgb(9, 82, 3);
    color:rgb(9, 82, 3);
}
.btn18:link{
    text-decoration: none;
}
.btn19{
    margin-top: 30px;
    color:rgb(255, 255, 255);
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:2px;
    padding:16px 40px;
    border-radius: 500px;
    display:inline-block;
    font-weight:300;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background:rgb(9, 82, 3);
    border:2px solid rgb(9, 82, 3);
}
.btn19:hover{
    background:transparent;
    border-color: rgb(9, 82, 3);
    color:rgb(9, 82, 3);
}
.btn19:link{
    text-decoration: none;
}
.btn19{
    margin-left: 30px;
}
.pretypes {
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
  }
  
  .pretypes p {
    margin-bottom: 10px;
  }
  
  .pretypes strong {
    font-weight: bold;
  }
  
  .pretypes ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .pretypes li {
    margin-bottom: 5px;
  }
  .preadv {
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
  }
  
  .preadv p {
    margin-bottom: 10px;
  }
  
  .preadv strong {
    font-weight: bold;
  }
  
  .preadv ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .preadv li {
    margin-bottom: 5px;
  }