.read-more-container7 {
    
    display: flex;
    gap: 3rem;
    text-align: justify;
    padding-top: 40px;
  }
  .read-more-container7 img{
    margin-left: 50px;
    border-radius: 30px;
  }
  .com1{
    padding-right: 60px;
  }
  .read-more-title7{
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .read-more-content7 {
    font-size: 18px;
    line-height: 1.5;
    color: #555;
  }
  .btn24{
    margin-top: 30px;
    color:rgb(255, 255, 255);
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:2px;
    padding:16px 40px;
    border-radius: 500px;
    display:inline-block;
    font-weight:300;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background:rgb(9, 82, 3);
    border:2px solid rgb(9, 82, 3);
}
.btn24:hover{
    background:transparent;
    border-color: rgb(9, 82, 3);
    color:rgb(9, 82, 3);
}
.btn24:link{
    text-decoration: none;
}
.btn25{
    margin-top: 30px;
    color:rgb(255, 255, 255);
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:2px;
    padding:16px 40px;
    border-radius: 500px;
    display:inline-block;
    font-weight:300;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background:rgb(9, 82, 3);
    border:2px solid rgb(9, 82, 3);
}
.btn25:hover{
    background:transparent;
    border-color: rgb(9, 82, 3);
    color:rgb(9, 82, 3);
}
.btn25:link{
    text-decoration: none;
}
.btn25{
    margin-left: 30px;
}
.comtypes {
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
  }
  
  .comtypes p {
    margin-bottom: 10px;
  }
  
  .comtypes strong {
    font-weight: bold;
  }
  
  .comtypes ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .comtypes li {
    margin-bottom: 5px;
  }
  .comadv {
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
  }
  
  .comadv p {
    margin-bottom: 10px;
  }
  
  .comadv strong {
    font-weight: bold;
  }
  
  .comadv ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .comadv li {
    margin-bottom: 5px;
  }